

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
  }
  

  button {
    background-color: #a6282d;
    color: #ebebeb;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  .body{
    height: 100vh;
  }
  .container {
    padding-top: 120px;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  
  .noAccMsg {
    text-align: center;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .error{
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }

  #regHere{
    color: #d33f3f;
  }

  #regHere:hover{
    color: #a33a3a;
  }