.navbar {
    background-color: rgba(166, 40, 45, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483640;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

a {
    text-decoration: solid;
    font-family: poppins;
    color: #ebebed;
}

.nav-link {
    text-decoration: solid;
    font-family: poppins;
    color: #ebebed;
}

#navbarNav {
    padding: 0;
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-toggler {
    background-color: #a6282d;
    margin-right: 8px;
}

.navbar-toggler:focus {
    color: rgb(129, 36, 39);
    box-shadow: 0 0 0 0.2rem;
}

#login-image {
    height: 40px;
    width: 40px;
}

.msgToUser{
    display: block;
    padding: 0.5rem 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: solid;
    font-family: poppins;
    color: #ebebed;
}

.navbar-nav{
    width: 100%;
}

.noMsgToUser{
    padding: 0;
}

#dispInfo{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 250px;
    
}
#dispPage{
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

@media screen and (max-width: 992px) {

    .navbar {
        padding: 0;
    }
    
    .navbar-brand{
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-toggler{
        margin-bottom: 2px;
        margin-right: 0px;
    }

    #navbarNav {
        background-color: #404040;

    }
    #navExpDate{
        background-color: #a6282d;

    }

    #navTransformacije {
        background-color: #a6282d;

    }


    #navLogin {
        background-color: #a6282d;
        display: flex;
        justify-content: center;
    }

    #noName{
        background-color: #a6282d;
    }
    #dispInfo{
        display: list-item;
    }
    #dispPage{
        display: list-item;
    }
}

#gym-image-logo{
    height: 40px;
    width: 100px;
}